/* <Type Kit> */
/* Typeface*/
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/Alternative_files/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/Alternative_files/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/Alternative_files/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
/* <Colors> */
/* Primary Colors*/
/* Secondary Colors */
/* <Layout Grid> */
/* device width */
/* <Padding> */
/* Desktop and Tablet */
/* Mobile */
@media screen and (min-device-width: 0px) {
  body {
    background-color: #323232;
    font-family: "Avenir";
    margin: 10px 0px;
  }
  div, h1, h2, h3, p, img, ul {
    margin: 0rem;
    padding: 0rem;
  }
  /* Font Size */
  .pageheader {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
  .sectionheader {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
  .subheader {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
  }
  .bodycopy {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }
  .footercopy {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }
  .labelandbuttons {
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
  }
  /* Header */
  .header {
    color: #FFFFFF;
    text-align: center;
  }
  .header__title {
    font-weight: 400;
    box-sizing: border-box;
    width: 120px;
    height: 20px;
    margin-bottom: 10px;
    display: inline-block;
  }
  .header__title--link {
    width: 120px;
    height: 20px;
    font-size: 24px;
    box-sizing: border-box;
    color: #FFFFFF;
    text-decoration: none;
  }
  .header__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    padding: 0px;
  }
  .header__list--item {
    width: 50vw;
    padding-bottom: 5px;
  }
  .header__list--link {
    font-size: 12px;
    color: #FFFFFF;
    text-decoration: none;
  }
  /* The Bees Knees */
  .first__container {
    color: #FFFFFF;
    position: relative;
    width: 100vw;
    height: 55vw;
  }
  .activepage {
    border-bottom: 2px solid #FFFFFF;
    font-weight: 600;
  }
  .first-container__header {
    position: absolute;
    top: 40%;
    left: 5%;
    z-index: 10;
  }
  .first-container__headerimg {
    height: 100%;
  }
  .first-container__headerbackground {
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: #323232;
    opacity: 50%;
  }
  .first-container__backgroundimg {
    width: 100vw;
    height: 100%;
  }
  /* About the Musicians */
  .second__container {
    background-color: #FFFFFF;
    padding-left: 16px;
    padding-right: 16px;
  }
  .second-container__title {
    padding-top: 24px;
    padding-bottom: 16px;
  }
  .second-container__coverimg {
    box-sizing: border-box;
    width: 100%;
  }
  .second-container__coverimg--quote {
    text-align: start;
    width: 300px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
    margin: 10px 0px;
  }
  .second-container__coverimg--author {
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    text-align: start;
  }
  .second-container__paragraphtitle {
    padding-top: 24px;
    padding-bottom: 16px;
  }
  .second-container__body--first, .second-container__body--second {
    padding-bottom: 15px;
  }
  .second-container__body--first {
    width: 282px;
  }
  .second-container__body--second {
    width: 318px;
  }
  /* Photo Gallery */
  .third__container {
    background-color: #FAFAFA;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }
  .third-container__title {
    padding-top: 24px;
    padding-bottom: 16px;
  }
  .third-container__galleryphoto {
    display: block;
    width: 100%;
    padding-bottom: 16px;
  }
  /* Footer */
  .footer {
    background-color: #323232;
    color: #FFFFFF;
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer__title {
    padding-top: 24px;
    padding-bottom: 16px;
  }
  .footer__sociallist {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 28px;
    height: 25px;
  }
  .footer__sociallist--icon {
    width: 25px;
    height: 25px;
  }
  .footer__contact {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .footer__contact--info {
    margin: 20px 0px;
  }
  .footer__contact--address {
    margin: 20px 0px;
  }
  .footer__contact--email {
    color: #FFFFFF;
    text-decoration: none;
  }
  .footer__bandsitelogo {
    font-weight: 400;
    box-sizing: border-box;
    width: 120px;
    height: 20px;
    margin-bottom: 5px;
    display: inline-block;
  }
  .footer__bandsitelogo--link {
    width: 120px;
    height: 20px;
    font-size: 24px;
    box-sizing: border-box;
    color: #FFFFFF;
    text-decoration: none;
  }
  .footer__copyright {
    font-size: 10px;
    line-height: 20px;
    font-weight: normal;
  }
}
/*------TABLET------------------------------------------------------------------*/
@media screen and (min-device-width: 768px) {
  /* Font Size */
  .pageheader {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
  .sectionheader {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
  .subheader {
    font-size: 14px;
    line-height: 32px;
    font-weight: 600;
  }
  .bodycopy {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
  .footercopy {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .labelandbuttons {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
  /* Header */
  .header {
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
  }
  .header__title {
    font-weight: normal;
    margin-left: 30px;
  }
  .header__title--link {
    box-sizing: border-box;
    max-width: 120px;
    max-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
  }
  .header__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    padding: 0px;
    gap: 60px;
    margin-left: 60px;
    position: relative;
    top: 7px;
  }
  .header__list--item {
    width: auto;
    height: 30px;
  }
  .header__list--link {
    color: #FFFFFF;
    text-decoration: none;
  }
  /* First Container */
  .first__container {
    height: 425px;
  }
  .first-container__headerbackground, .first-container__backgroundimg {
    height: 425px;
  }
  /* Second Container */
  .second__container {
    padding: 36px;
  }
  .second-container__articlebody {
    padding: 0px 8%;
    position: relative;
  }
  .second-container__coverimg {
    width: 100%;
    display: block;
  }
  .second-container__coverimg--quote {
    width: 584.2px;
    font-size: 22px;
    line-height: 30px;
    margin: 20px 0px;
  }
  .second-container__coverimg--author {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .second-container__paragraphtitle {
    font-size: 24px;
  }
  .second-container__paragraphbody {
    display: flex;
    flex-direction: row;
    gap: 34px;
  }
  .second-container__body--first {
    width: 275px;
  }
  .second-container__body--second {
    width: 277px;
  }
  /* Third Container */
  .third__container {
    padding: 36px;
    padding-bottom: 10px;
  }
  .third-container__photoalbum {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4%;
  }
  .third-container__galleryphoto {
    width: 30%;
    padding-bottom: 4%;
  }
  /* Footer */
  .footer {
    padding: 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }
  /* Assign order to make "Bandsite" move before contactcard*/
  .footer :nth-child(1) {
    order: 1;
  }
  .footer :nth-child(2) {
    order: 2;
  }
  .footer :nth-child(3) {
    order: 4;
  }
  .footer :nth-child(4) {
    order: 3;
  }
  .footer :nth-child(5) {
    order: 5;
  }
  .footer__sociallist {
    height: 22px;
    margin-left: 30px;
  }
  .footer__sociallist--item, .footer__sociallist--link, .footer__sociallist--icon {
    width: 22px;
    height: 22px;
  }
  .footer__bandsitelogo {
    margin-left: auto;
  }
  .footer__contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    margin-top: 0px;
    gap: 40px;
  }
  .footer-contact__contactcard {
    width: 206px;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
/*------Desktop------------------------------------------------------------------*/
@media screen and (min-device-width: 1280px) {
  /* Header */
  .header {
    height: 70px;
  }
  .header__title {
    margin-left: 120px;
  }
  .header__list {
    margin-left: 50px;
    top: 0px;
  }
  .header__list--item {
    font-size: 20px;
    height: 12px;
    padding: 20px 0px 35px 0px;
  }
  /* First Container */
  .first__container {
    height: 700px;
  }
  .first-container__header {
    margin-left: 60px;
  }
  .first-container__headerbackground, .first-container__backgroundimg {
    height: 700px;
  }
  /* Second Container */
  .second-container__title {
    margin-left: 90px;
  }
  .second-container__articlebody {
    padding: 0 15%;
  }
  .second-container__coverimg--quote {
    font-size: 23px;
    font-weight: 600;
    width: 690px;
  }
  .second-container__coverimg--author {
    font-size: 14px;
    font-weight: 600;
  }
  .second-container__paragraphbody {
    gap: 20px;
  }
  .second-container__body--first {
    width: 415px;
  }
  .second-container__body--second {
    width: 410px;
  }
  /* Third Container */
  .third__container {
    padding: 36px 120px;
  }
  .third-container__photoalbum {
    gap: 25px;
  }
  .third-container__galleryphoto {
    width: 31.5%;
    padding-bottom: 0px;
  }
  /* Footer */
  .footer {
    padding: 36px 120px;
  }
  .footer__sociallist {
    height: 22px;
    margin-left: 50px;
    gap: 30px;
  }
  .footer__contact {
    gap: 65px;
  }
}/*# sourceMappingURL=bio.css.map */