@use './partials/global' as *;

@media screen and (min-device-width: $mobile_min_viewwidth) {
    body {
        background-color: $primary_black;
        font-family: "Avenir";
        margin: 0.625rem 0rem;
    }

    label,
    button,
    input,
    textarea {
        font-family: "Avenir";
        color: $primary_black;
    }

    input:focus {
        border: 0.125rem solid $primary_black;
        border-radius: 0.25rem;
    }

    .inputredborder {
        border: 0.125rem solid #D22D2D;
        border-radius: 0.25rem;
    }

    div, h1, h2, h3, p, img, ul {
        margin: 0rem;
        padding: 0rem;
    }

    /* Font Size */
    .pageheader {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
    }

    .sectionheader {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
    }

    .subheader {
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 600;
    }

    .bodycopy {
        font-size: 0.8125rem;
        line-height: 1.125rem;
        font-weight: 400;
    }

    .footercopy {
        font-size: 0.8125rem;
        line-height: 1.125rem;
        font-weight: 400;
    }

    .labelandbuttons {
        font-size: 0.625rem;
        line-height: 1.25rem;
        font-weight: 700;
    }

    /* Header */
    .header {
        color: $primary_white;
        text-align: center;

        &__title {
            font-weight: 400;
            box-sizing: border-box;
            width: 100%;
            height: 1.25rem;
            margin-bottom: 0.625rem;

            &--link {
                width: 7.5rem;
                height: 1.25rem;
                font-size: 1.5rem;
                box-sizing: border-box;
                color: $primary_white;
                text-decoration: none;
            }
        }

        &__list {
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: space-evenly;
            padding: 0rem;
            
            &--item {
                width: 50vw;
                padding-bottom: 0.3125rem;
            }

            &--link {
                font-size: 0.75rem;
                color: $primary_white;
                text-decoration: none;
            }
        }
    }

    /* The Bees Knees */
    .first__container {
        color: $primary_white;
        position: relative;
        width: 100vw;
        height: 55vw;
    }

    .activepage {
        border-bottom: 0.125rem solid $primary_white;
        font-weight: 600;
    }

    .first-container {
        &__header {
            position: absolute;
            top: 40%;
            left: 5%;
            z-index: 10;
        }

        &__headerimg {
            height: 100%;
        }

        &__headerbackground {
            position: absolute;
            width: 100vw;
            height: 100%;
            background-color: $primary_black;
            opacity: 50%;
        }

        &__backgroundimg {
            object-fit: cover;
            object-position: 45% 55%;
            width: 100%;
            height: 100%;
        }
    }

    /* About the Musicians */
    .second__container {
        background-color: $primary_white;
        padding-left: $MB_padding_betweencomponents;
        padding-right: $MB_padding_betweencomponents;
    }

    .second-container {
        &__title {
            padding-top: $MB_padding_beforeheadline;
            padding-bottom: $MB_padding_afterheadline;
        }

        &__coverimg {
            box-sizing: border-box;
            width: 100%;

            &--quote {
                text-align: start;
                width: 18.75rem;
                font-size: 0.9375rem;
                line-height: 1.5rem;
                font-weight: 600;
                margin: 0.625rem 0rem;
            }

            &--author {
                font-size: 1rem;
                line-height: 1.5625rem;
                font-weight: 600;
                text-align: start;
            }
        }

        &__paragraphtitle {
            padding-top: $MB_padding_beforeheadline;
            padding-bottom: $MB_padding_afterheadline;
        }

        &__body {
            &--first, &--second {
                padding-bottom: 0.9375rem;
            }

            &--first {
                width: 17.625rem;
            }

            &--second {
                width: 19.875rem;
            }
        }
    }

    /* Photo Gallery */
    .third__container {
        background-color: $secondary_alabaster;
        padding-left: $MB_padding_betweencomponents;
        padding-right: $MB_padding_betweencomponents;
        box-sizing: border-box;
    }

    .third-container {
        &__title {
            padding-top: $MB_padding_beforeheadline;
            padding-bottom: $MB_padding_afterheadline;
        }

        &__galleryphoto {
            width: 100%;
            padding-bottom: $MB_padding_afterheadline;
        }
    } 

    /* Conversation Container */
    .conversation {
        &__container {
            background-color: $primary_white;
            padding: 0.9375rem;
            padding-left: $MB_padding_betweencomponents;
            padding-right: $MB_padding_betweencomponents;
            box-sizing: border-box;
        }

        &__submitform {
            position: relative;
            display: flex;
            flex-direction: row;
            gap: 1.25rem;
            border-bottom: 0.0625rem solid $secondary_mercury;
        }

        &__profileimg {
            object-position: 20% 80%;
            position: relative;
            top: 1.25rem;
            border-radius: 50%;
            width: 2.25rem;
            height: 2.25rem;
            object-fit: cover;
        }

        &__input{
            &--name {
                width: 90%;
                height: 2.25rem;
                padding-left: 0.75rem;
            }

            &--comment {
                width: 90%;
                height: 6.25rem;
                padding-left: 0.75rem;
                padding-top: 0.75rem;
            }
        }

        &__button {
            width: 96%;
            height: 1.875rem;
            text-align: center;
            border-radius: 0.25rem;
            border: 0.5rem solid $primary_black;
            background-color: $primary_black;
            color: $primary_white;
            padding: 0.125rem 0rem;

            &:hover {
                border-color: $secondary_darkblack;
                background-color: $secondary_darkblack;
                color: $primary_white;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    label {
        font-size: 0.625rem;
        color: $primary_silver;
        padding: 0.3125rem 0rem;
    }

    input, textarea, button {
        margin-bottom: 0.9375rem;
    }

    form {
        width: 90vw;
    }

    .comment {
        &__card {
            display: flex;
            flex-direction: row;
            gap: 1.25rem;
            border-bottom: 0.0625rem solid $secondary_mercury;
            padding: 0.9375rem 0rem;
        }

        &__profileimg {
            border-radius: 50%;
            width: 2.25rem;
            height: 2.25rem;
            background-color: $secondary_mercury;
        }

        &__content {
            width: 80%;
            position: relative;

            &--title {
                display: flex;
                flex-direction: row;
                margin-bottom: 0.3125rem;
            }
        }


        &__author {
            font-weight: bold;
        }

        &__timestamp {
            color: $secondary_mercury;
            position: absolute;
            right: 0rem;
        }

        &__comment {
            padding-top: 0.625rem;
        }
    }

    /* Footer */
    .footer {
        background-color: $primary_black;
        color: $primary_white;
        padding-left: $MB_padding_betweencomponents;
        padding-right: $MB_padding_betweencomponents;

        &__title {
            padding-top: $MB_padding_beforeheadline;
            padding-bottom: $MB_padding_afterheadline;
        }

        &__sociallist {
            display: flex;
            flex-direction: row;
            list-style: none;
            gap: 1.75rem;
            height: 1.5625rem;

            &--icon {
                width: 1.5625rem;
                height: 1.5625rem;
            }
        }

        &__contact {
            margin-top: 0.625rem;
            margin-bottom: 2.5rem;

            &--info {
                margin: 1.25rem 0rem;
            }

            &--address {
                margin: 1.25rem 0rem;
            }
            
            &--email{
                color: $primary_white;
                text-decoration: none;
            }

        }

        &__bandsitelogo {
            font-weight: 400;
            box-sizing: border-box;
            width: 7.5rem;
            height: 1.25rem;
            margin-bottom: 0.3125rem;

            &--link {
                width: 7.5rem;
                height: 1.25rem;
                font-size: 1.5rem;
                box-sizing: border-box;
                color: $primary_white;
                text-decoration: none;
            }
        }

        &__copyright {
            font-size: 0.625rem;
            line-height: 1.25rem;
            font-weight: normal;
        }
    }

}

/*------TABLET------------------------------------------------------------------*/

@media screen and (min-device-width: $tablet_min_viewwidth) {
    /* Font Size */
    .pageheader {
        font-size: 3.75rem;
        line-height: 4.25rem;
        font-weight: 700;
    }

    .sectionheader {
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-weight: 700;
    }

    .subheader {
        font-size: 0.875rem;
        line-height: 2rem;
        font-weight: 600;
    }

    .bodycopy {
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 400;
    }

    .footercopy {
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 400;
    }

    .labelandbuttons {
        font-size: 0.75rem;
        line-height: 1.25rem;
        font-weight: 700;
    }

    /* Header */
    .header {
        color: $primary_white;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 3.125rem;

        &__title {
            font-weight: normal;
            margin-left: 2.25rem;
            width: 7.5rem;

            &--link {
                box-sizing: border-box;
                max-width: 7.5rem;
                max-height: 1.25rem;
                color: $primary_white;
                text-decoration: none;
            }
        }

        &__list {
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: space-evenly;
            padding: 0rem;
            gap: 3.75rem;
            margin-left: 3.75rem;
            position: relative;
            top: 0.4375rem;
            
            &--item {
                width: auto;
                height: 1.875rem;
            }

            &--link {
                color: $primary_white;
                text-decoration: none;
            }
        }
    }

    /* Second Container */
    .second__container {
        padding: 2.25rem;
    }

    .second-container {
        &__articlebody {
            padding: 0rem 8%;
            position: relative;
        }

        &__coverimg {
            width: 100%;

            &--quote {
                width: 36.5125rem;
                font-size: 1.375rem;
                line-height: 1.875rem;
                margin: 1.25rem 0rem;
            }

            &--author {
                font-size: 1rem;
                margin-bottom: 1.5625rem;
            }
        }

        &__paragraphtitle {
            font-size: 1.5rem;
        }

        &__paragraphbody {
            display: flex;
            flex-direction: row;
            gap: 2.125rem;
        }

        &__body {
            &--first {
                width: 17.1875rem;
            }

            &--second {
                width: 17.3125rem;
            }
        }
    }

    /* Third Container */
    .third__container {
        padding: 2.25rem;
        padding-bottom: 0.625rem;
    }

    .third-container {
        &__photoalbum {
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            justify-content: center;
            align-items: center;
            gap: 4%;
        }

        &__galleryphoto {
            width: 30%;
            padding-bottom: 4%;
        }
    }

    /* Conversation Container */
    .conversation {
        &__container {
            padding: 2.25rem;
            display: flex;
            flex-direction: column;
        }

        &__profileimg {
            position: relative;
            top: 1.875rem;
        }

        &__submitform {
            padding: 1.25rem 0rem;
            margin-left: 6%;
            margin-top: 0.625rem;
            height: 18.75rem;
        }

        &__profileimg {
            width: 3rem;
            height: 3rem;
        }

        &__title{
            &--name {
                font-size: 0.9375rem;
            }

            &--comment {
                font-size: 0.9375rem;
            }
        }

        &__input{
            &--name {
                width: 98%;
            }

            &--comment {
                width: 98%;
            }
        }
        
        &__button {
            position: absolute;
            bottom: 0rem;
            right: -0.3rem;
            height: 2.8125rem;
            width: 12.5rem;
            font-size: 1.25rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    form {
        position: relative;
    }

    .comment{
        &__card {
            margin-left: 6%;
        }

        &__content {
            width: 80%;
        }
    }

    /* Footer */
    .footer {
        padding: 2.25rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
    }

    /* Assign order to make "Bandsite" move before contactcard*/
    .footer :nth-child(1) {order: 1;}
    .footer :nth-child(2) {order: 2;}
    .footer :nth-child(3) {order: 4;}
    .footer :nth-child(4) {order: 3;}
    .footer :nth-child(5) {order: 5;}

    .footer{
        &__sociallist {
            height: 1.375rem;
            margin-left: 1.875rem;
            
            &--item, &--link, &--icon {
                width: 1.375rem;
                height: 1.375rem;
            }
        }

        &__bandsitelogo {
            margin-left: auto;
        }

        &__contact {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 100vw;
            margin-top: 0rem;
            gap: 2.5rem;
        }

        &-contact{
            &__contactcard {
                width: 12.875rem;
            }
        }

        &__copyright {
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-weight: 400;
        }
    
    }
}

/*------Desktop------------------------------------------------------------------*/
@media screen and (min-device-width: $desktop_min_viewwidth) {
    /* Header */
    .header {
        height: 4.375rem;

        &__title {
            margin-left: 7.5rem;
   
        }

        &__list {
            margin-left: 3.125rem;
            top: 0rem; 
            &--item {
                font-size: 1.25rem;
                height: 0.75rem;
                padding: 1.25rem 0rem 2.1875rem 0rem;
            }
        }
    }

    /* First Container */
    .first-container {
        &__header {
            margin-left: 3.75rem;
        }
    }

    /* Second Container */
    .second-container {
        &__title {
            margin-left: 5.625rem;
        }

        &__articlebody {
            padding: 0 15%;
        }

        &__coverimg {
            &--quote {
                font-size: 1.4375rem;
                font-weight: 600;
                width: 43.125rem;
            }

            &--author {
                font-size: 0.875rem;
                font-weight: 600;
            }
        }

        &__paragraphbody {
            gap: 1.25rem;
        }
        &__body {
            &--first {
                width: 25.9375rem;
            }

            &--second {
                width: 25.625rem;
            }
        }

    }

    /* Third Container */
    .third__container {
        padding: 2.25rem 7.5rem;
    }

    .third-container {
        &__photoalbum {
            gap: 1.5625rem;
        }

        &__galleryphoto {
            width: 31.5%;
            padding-bottom: 0rem;
        }
    }

    /* Conversation Container */
    .conversation {
        &__container {
            padding: 2.25rem 7.5rem;
        }

        &__submitform {
            width: 31.25rem;
            padding-left: 0rem;
            margin-left: 23%;
        }

        &__button {
            right: -0.5rem;
        }

        &__input {
            &--name {
                width: 98%;
            }

            &--comment {
                width: 98%;
            }
        }

        &__record {
            width: 31.25rem;
            margin-left: 23%;
        }
    }

    form {
        width: 25rem;
    }

    /* Footer */
    .footer {
        padding: 2.25rem 7.5rem;

        &__sociallist {
            height: 1.375rem;
            margin-left: 3.125rem;
            gap: 1.875rem;
        }

        &__contact {
            gap: 4.0625rem;
        }
    }
}