/* <Type Kit> */
/* Typeface*/
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/Alternative_files/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/Alternative_files/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/Alternative_files/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
/* <Colors> */
/* Primary Colors*/
/* Secondary Colors */
/* <Layout Grid> */
/* device width */
/* <Padding> */
/* Desktop and Tablet */
/* Mobile */
@media screen and (min-device-width: 0px) {
  body {
    background-color: #323232;
    font-family: "Avenir";
    margin: 0.625rem 0rem;
  }
  label,
button,
input,
textarea {
    font-family: "Avenir";
    color: #323232;
  }
  input:focus {
    border: 0.125rem solid #323232;
    border-radius: 0.25rem;
  }
  .inputredborder {
    border: 0.125rem solid #D22D2D;
    border-radius: 0.25rem;
  }
  div, h1, h2, h3, p, img, ul {
    margin: 0rem;
    padding: 0rem;
  }
  /* Font Size */
  .pageheader {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  .sectionheader {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  .subheader {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
  }
  .bodycopy {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
  }
  .footercopy {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
  }
  .labelandbuttons {
    font-size: 0.625rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
  /* Header */
  .header {
    color: #FFFFFF;
    text-align: center;
  }
  .header__title {
    font-weight: 400;
    box-sizing: border-box;
    width: 100%;
    height: 1.25rem;
    margin-bottom: 0.625rem;
  }
  .header__title--link {
    width: 7.5rem;
    height: 1.25rem;
    font-size: 1.5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    text-decoration: none;
  }
  .header__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    padding: 0rem;
  }
  .header__list--item {
    width: 50vw;
    padding-bottom: 0.3125rem;
  }
  .header__list--link {
    font-size: 0.75rem;
    color: #FFFFFF;
    text-decoration: none;
  }
  /* The Bees Knees */
  .first__container {
    color: #FFFFFF;
    position: relative;
    width: 100vw;
    height: 55vw;
  }
  .activepage {
    border-bottom: 0.125rem solid #FFFFFF;
    font-weight: 600;
  }
  .first-container__header {
    position: absolute;
    top: 40%;
    left: 5%;
    z-index: 10;
  }
  .first-container__headerimg {
    height: 100%;
  }
  .first-container__headerbackground {
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: #323232;
    opacity: 50%;
  }
  .first-container__backgroundimg {
    width: 100vw;
    height: 100%;
  }
  /* About the Musicians */
  .second__container {
    background-color: #FFFFFF;
    padding-left: 16px;
    padding-right: 16px;
  }
  .second-container__title {
    padding-top: 24px;
    padding-bottom: 16px;
  }
  .second-container__coverimg {
    box-sizing: border-box;
    width: 100%;
  }
  .second-container__coverimg--quote {
    text-align: start;
    width: 18.75rem;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    font-weight: 600;
    margin: 0.625rem 0rem;
  }
  .second-container__coverimg--author {
    font-size: 1rem;
    line-height: 1.5625rem;
    font-weight: 600;
    text-align: start;
  }
  .second-container__paragraphtitle {
    padding-top: 24px;
    padding-bottom: 16px;
  }
  .second-container__body--first, .second-container__body--second {
    padding-bottom: 0.9375rem;
  }
  .second-container__body--first {
    width: 17.625rem;
  }
  .second-container__body--second {
    width: 19.875rem;
  }
  /* Photo Gallery */
  .third__container {
    background-color: #FAFAFA;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }
  .third-container__title {
    padding-top: 24px;
    padding-bottom: 16px;
  }
  .third-container__galleryphoto {
    width: 100%;
    padding-bottom: 16px;
  }
  /* Conversation Container */
  .conversation__container {
    background-color: #FFFFFF;
    padding: 0.9375rem;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }
  .conversation__submitform {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    border-bottom: 0.0625rem solid #E1E1E1;
  }
  .conversation__profileimg {
    position: relative;
    top: 1.25rem;
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .conversation__input--name {
    width: 90%;
    height: 2.25rem;
    padding-left: 0.75rem;
  }
  .conversation__input--comment {
    width: 90%;
    height: 6.25rem;
    padding-left: 0.75rem;
    padding-top: 0.75rem;
  }
  .conversation__button {
    width: 96%;
    height: 1.875rem;
    text-align: center;
    border-radius: 0.25rem;
    background-color: #323232;
    color: #FFFFFF;
    padding: 0.125rem 0rem;
  }
  .conversation__button:hover {
    background-color: #000000;
    color: #FFFFFF;
  }
  form {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  label {
    font-size: 0.625rem;
    color: #AFAFAF;
    padding: 0.3125rem 0rem;
  }
  input, textarea, button {
    margin-bottom: 0.9375rem;
  }
  form {
    width: 90vw;
  }
  .comment__card {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    border-bottom: 0.0625rem solid #E1E1E1;
    padding: 0.9375rem 0rem;
  }
  .comment__profileimg {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    background-color: #E1E1E1;
  }
  .comment__content {
    width: 100%;
    position: relative;
  }
  .comment__content--title {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.3125rem;
  }
  .comment__author {
    font-weight: bold;
  }
  .comment__timestamp {
    color: #E1E1E1;
    position: absolute;
    right: 0rem;
  }
  .comment__comment {
    padding-top: 0.625rem;
  }
  /* Footer */
  .footer {
    background-color: #323232;
    color: #FFFFFF;
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer__title {
    padding-top: 24px;
    padding-bottom: 16px;
  }
  .footer__sociallist {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.75rem;
    height: 1.5625rem;
  }
  .footer__sociallist--icon {
    width: 1.5625rem;
    height: 1.5625rem;
  }
  .footer__contact {
    margin-top: 0.625rem;
    margin-bottom: 2.5rem;
  }
  .footer__contact--info {
    margin: 1.25rem 0rem;
  }
  .footer__contact--address {
    margin: 1.25rem 0rem;
  }
  .footer__contact--email {
    color: #FFFFFF;
    text-decoration: none;
  }
  .footer__bandsitelogo {
    font-weight: 400;
    box-sizing: border-box;
    width: 7.5rem;
    height: 1.25rem;
    margin-bottom: 0.3125rem;
  }
  .footer__bandsitelogo--link {
    width: 7.5rem;
    height: 1.25rem;
    font-size: 1.5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    text-decoration: none;
  }
  .footer__copyright {
    font-size: 0.625rem;
    line-height: 1.25rem;
    font-weight: normal;
  }
}
/*------TABLET------------------------------------------------------------------*/
@media screen and (min-device-width: 768px) {
  /* Font Size */
  .pageheader {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
  .sectionheader {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
  .subheader {
    font-size: 0.875rem;
    line-height: 2rem;
    font-weight: 600;
  }
  .bodycopy {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  .footercopy {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
  .labelandbuttons {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
  /* Header */
  .header {
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.125rem;
  }
  .header__title {
    font-weight: normal;
    margin-left: 2.25rem;
    width: 7.5rem;
  }
  .header__title--link {
    box-sizing: border-box;
    max-width: 7.5rem;
    max-height: 1.25rem;
    color: #FFFFFF;
    text-decoration: none;
  }
  .header__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    padding: 0rem;
    gap: 3.75rem;
    margin-left: 3.75rem;
    position: relative;
    top: 0.4375rem;
  }
  .header__list--item {
    width: auto;
    height: 1.875rem;
  }
  .header__list--link {
    color: #FFFFFF;
    text-decoration: none;
  }
  /* First Container */
  .first__container {
    height: 26.5625rem;
  }
  .first-container__headerbackground, .first-container__backgroundimg {
    height: 26.5625rem;
  }
  /* Second Container */
  .second__container {
    padding: 2.25rem;
  }
  .second-container__articlebody {
    padding: 0rem 8%;
    position: relative;
  }
  .second-container__coverimg {
    width: 100%;
  }
  .second-container__coverimg--quote {
    width: 36.5125rem;
    font-size: 1.375rem;
    line-height: 1.875rem;
    margin: 1.25rem 0rem;
  }
  .second-container__coverimg--author {
    font-size: 1rem;
    margin-bottom: 1.5625rem;
  }
  .second-container__paragraphtitle {
    font-size: 1.5rem;
  }
  .second-container__paragraphbody {
    display: flex;
    flex-direction: row;
    gap: 2.125rem;
  }
  .second-container__body--first {
    width: 17.1875rem;
  }
  .second-container__body--second {
    width: 17.3125rem;
  }
  /* Third Container */
  .third__container {
    padding: 2.25rem;
    padding-bottom: 0.625rem;
  }
  .third-container__photoalbum {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4%;
  }
  .third-container__galleryphoto {
    width: 30%;
    padding-bottom: 4%;
  }
  /* Conversation Container */
  .conversation__container {
    padding: 2.25rem;
    display: flex;
    flex-direction: column;
  }
  .conversation__profileimg {
    position: relative;
    top: 1.875rem;
  }
  .conversation__submitform {
    padding: 1.25rem 0rem;
    margin-left: 6%;
    margin-top: 0.625rem;
    height: 18.75rem;
  }
  .conversation__profileimg {
    width: 3rem;
    height: 3rem;
  }
  .conversation__title--name {
    font-size: 0.9375rem;
  }
  .conversation__title--comment {
    font-size: 0.9375rem;
  }
  .conversation__input--name {
    width: 98%;
  }
  .conversation__input--comment {
    width: 98%;
  }
  .conversation__button {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    height: 2.8125rem;
    width: 12.5rem;
    font-size: 1.25rem;
  }
  form {
    position: relative;
  }
  .comment__card {
    margin-left: 6%;
  }
  .comment__content {
    width: 100%;
  }
  /* Footer */
  .footer {
    padding: 2.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }
  /* Assign order to make "Bandsite" move before contactcard*/
  .footer :nth-child(1) {
    order: 1;
  }
  .footer :nth-child(2) {
    order: 2;
  }
  .footer :nth-child(3) {
    order: 4;
  }
  .footer :nth-child(4) {
    order: 3;
  }
  .footer :nth-child(5) {
    order: 5;
  }
  .footer__sociallist {
    height: 1.375rem;
    margin-left: 1.875rem;
  }
  .footer__sociallist--item, .footer__sociallist--link, .footer__sociallist--icon {
    width: 1.375rem;
    height: 1.375rem;
  }
  .footer__bandsitelogo {
    margin-left: auto;
  }
  .footer__contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    margin-top: 0rem;
    gap: 2.5rem;
  }
  .footer-contact__contactcard {
    width: 12.875rem;
  }
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
/*------Desktop------------------------------------------------------------------*/
@media screen and (min-device-width: 1280px) {
  /* Header */
  .header {
    height: 4.375rem;
  }
  .header__title {
    margin-left: 7.5rem;
  }
  .header__list {
    margin-left: 3.125rem;
    top: 0rem;
  }
  .header__list--item {
    font-size: 1.25rem;
    height: 0.75rem;
    padding: 1.25rem 0rem 2.1875rem 0rem;
  }
  /* First Container */
  .first__container {
    height: 43.75rem;
  }
  .first-container__header {
    margin-left: 3.75rem;
  }
  .first-container__headerbackground, .first-container__backgroundimg {
    height: 43.75rem;
  }
  /* Second Container */
  .second-container__title {
    margin-left: 5.625rem;
  }
  .second-container__articlebody {
    padding: 0 15%;
  }
  .second-container__coverimg--quote {
    font-size: 1.4375rem;
    font-weight: 600;
    width: 43.125rem;
  }
  .second-container__coverimg--author {
    font-size: 0.875rem;
    font-weight: 600;
  }
  .second-container__paragraphbody {
    gap: 1.25rem;
  }
  .second-container__body--first {
    width: 25.9375rem;
  }
  .second-container__body--second {
    width: 25.625rem;
  }
  /* Third Container */
  .third__container {
    padding: 2.25rem 7.5rem;
  }
  .third-container__photoalbum {
    gap: 1.5625rem;
  }
  .third-container__galleryphoto {
    width: 31.5%;
    padding-bottom: 0rem;
  }
  /* Conversation Container */
  .conversation__container {
    padding: 2.25rem 7.5rem;
  }
  .conversation__submitform {
    width: 31.25rem;
    padding-left: 0rem;
    margin-left: 23%;
  }
  .conversation__button {
    right: -1rem;
  }
  .conversation__input--name {
    width: 100%;
  }
  .conversation__input--comment {
    width: 100%;
  }
  .conversation__record {
    width: 31.25rem;
    margin-left: 23%;
  }
  form {
    width: 25rem;
  }
  /* Footer */
  .footer {
    padding: 2.25rem 7.5rem;
  }
  .footer__sociallist {
    height: 1.375rem;
    margin-left: 3.125rem;
    gap: 1.875rem;
  }
  .footer__contact {
    gap: 4.0625rem;
  }
}/*# sourceMappingURL=bio.css.map */