/* <Type Kit> */
/* Typeface*/
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/Alternative_files/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/Alternative_files/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/Alternative_files/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
/* <Colors> */
/* Primary Colors*/
/* Secondary Colors */
/* <Layout Grid> */
/* device width */
/* <Padding> */
/* Desktop and Tablet */
/* Mobile */
@media screen and (min-device-width: 0px) {
  body {
    background-color: #323232;
    font-family: "Avenir";
    margin: 0.625rem 0rem;
  }
  div, h1, h2, h3, p, img, ul {
    margin: 0rem;
    padding: 0rem;
  }
  /* Font Size */
  .pageheader {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  .sectionheader {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  .subheader {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
  }
  .bodycopy {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
  }
  .footercopy {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
  }
  .labelandbuttons {
    font-size: 0.625rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
  /* Header */
  .header {
    color: #FFFFFF;
    text-align: center;
  }
  .header__title {
    font-weight: 400;
    box-sizing: border-box;
    width: 100%;
    height: 1.25rem;
    margin-bottom: 0.625rem;
  }
  .header__title--link {
    width: 7.5rem;
    height: 1.25rem;
    font-size: 1.5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    text-decoration: none;
  }
  .header__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    padding: 0rem;
  }
  .header__list--item {
    width: 50vw;
    padding-bottom: 0.3125rem;
  }
  .header__list--link {
    font-size: 0.75rem;
    color: #FFFFFF;
    text-decoration: none;
  }
  /* First Container */
  .first__container {
    color: #FFFFFF;
    position: relative;
    width: 100vw;
    height: 80vw;
  }
  .activepage {
    border-bottom: 0.125rem solid #FFFFFF;
    font-weight: 600;
  }
  .first-container__firstheader {
    position: absolute;
    top: 12%;
    left: 5%;
    z-index: 10;
  }
  .first-container__secondheader {
    position: absolute;
    top: 25%;
    left: 5%;
    z-index: 10;
    width: 15.625rem;
  }
  .first-container__soundcloud {
    width: 18.75rem;
    height: 5.9375rem;
    position: absolute;
    top: 55%;
    left: 5%;
    z-index: 10;
  }
  .first-container__headerimg {
    height: 100%;
  }
  .first-container__headerbackground {
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: #323232;
    opacity: 50%;
  }
  .first-container__backgroundimg {
    width: 100vw;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* Shows Container */
  .showsinfo__container {
    background-color: #FFFFFF;
    padding: 16px;
  }
  .showsinfo__title {
    padding-top: 24px;
    padding-bottom: 16px;
  }
  .shows-information__card {
    padding: 0.9375rem 0rem;
    border-bottom: 0.0625rem solid #E1E1E1;
    display: flex;
    flex-direction: column;
  }
  .shows-information__card:hover {
    background-color: #FAFAFA;
  }
  .shows-information__greycard {
    background-color: #E1E1E1;
  }
  .infocard__date, .infocard__venue, .infocard__location {
    padding-bottom: 1.25rem;
  }
  .infocard__date {
    font-weight: 600;
  }
  .infocard__button {
    background-color: #323232;
    color: #FFFFFF;
    width: 100%;
    height: 3.125rem;
    border-radius: 0.25rem;
    font-size: 1.25rem;
  }
  .infocard__buttonlink {
    text-decoration: none;
  }
  .infocard-title__date--mobile, .infocard-title__venue--mobile, .infocard-title__location--mobile {
    color: #AFAFAF;
    padding: 0.3125rem 0rem;
    font-weight: 600;
  }
  .infocard-title__date--DSK, .infocard-title__venue--DSK, .infocard-title__location--DSK {
    display: none;
    color: #AFAFAF;
    font-weight: 600;
  }
  /* Footer */
  .footer {
    background-color: #323232;
    color: #FFFFFF;
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer__title {
    padding-top: 24px;
    padding-bottom: 16px;
  }
  .footer__sociallist {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.75rem;
    height: 1.5625rem;
  }
  .footer__sociallist--icon {
    width: 1.5625rem;
    height: 1.5625rem;
  }
  .footer__contact {
    margin-top: 0.625rem;
    margin-bottom: 2.5rem;
  }
  .footer__contact--info {
    margin: 1.25rem 0rem;
  }
  .footer__contact--address {
    margin: 1.25rem 0rem;
  }
  .footer__contact--email {
    color: #FFFFFF;
    text-decoration: none;
  }
  .footer__bandsitelogo {
    font-weight: 400;
    box-sizing: border-box;
    width: 7.5rem;
    height: 1.25rem;
    margin-bottom: 0.3125rem;
  }
  .footer__bandsitelogo--link {
    width: 7.5rem;
    height: 1.25rem;
    font-size: 1.5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    text-decoration: none;
  }
  .footer__copyright {
    font-size: 0.625rem;
    line-height: 1.25rem;
    font-weight: normal;
  }
}
/*------TABLET------------------------------------------------------------------*/
@media screen and (min-device-width: 768px) {
  /* Font Size */
  .pageheader {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
  .sectionheader {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
  .subheader {
    font-size: 0.875rem;
    line-height: 2rem;
    font-weight: 600;
  }
  .bodycopy {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  .footercopy {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
  .labelandbuttons {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
  /* Header */
  .header {
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.125rem;
  }
  .header__title {
    font-weight: normal;
    margin-left: 5%;
    width: 7.5rem;
  }
  .header__title--link {
    box-sizing: border-box;
    max-width: 7.5rem;
    max-height: 1.25rem;
    color: #FFFFFF;
    text-decoration: none;
  }
  .header__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    padding: 0rem;
    gap: 3.75rem;
    margin-left: 3.75rem;
    position: relative;
    top: 0.4375rem;
  }
  .header__list--item {
    width: auto;
    height: 1.875rem;
  }
  .header__list--link {
    color: #FFFFFF;
    text-decoration: none;
  }
  /* First Container */
  .first__container {
    height: 26.5625rem;
  }
  .first-container__firstheader {
    position: absolute;
    top: 12%;
    left: 5%;
    z-index: 10;
    font-size: 1.875rem;
    font-weight: 600;
  }
  .first-container__secondheader {
    position: absolute;
    top: 25%;
    left: 5%;
    z-index: 10;
    width: 37.5rem;
  }
  .first-container__soundcloud {
    width: 25rem;
    height: 7.5rem;
    position: absolute;
    top: 62%;
    left: 5%;
    z-index: 10;
  }
  .first-container__headerbackground, .first-container__backgroundimg {
    height: 100%;
  }
  .first-container__backgroundimg {
    -o-object-position: 0% 34%;
       object-position: 0% 34%;
  }
  /* Shows Container */
  .showsinfo__container {
    padding: 2.25rem;
  }
  .infocard-title__date--mobile, .infocard-title__venue--mobile, .infocard-title__location--mobile {
    display: none;
    color: #AFAFAF;
    font-weight: 600;
  }
  .infocard__title--DSK {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding-right: 13.75rem;
    margin-top: 0.9375rem;
  }
  .infocard-title__date--DSK, .infocard-title__venue--DSK, .infocard-title__location--DSK {
    display: inline-block;
    color: #AFAFAF;
    font-weight: 600;
  }
  .infocard-title__date--DSK {
    width: 9.375rem;
  }
  .infocard-title__venue--DSK {
    width: 7.5rem;
  }
  .infocard-title__location--DSK {
    width: 8.125rem;
  }
  .shows-information__card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }
  .infocard__date {
    width: 9.375rem;
    vertical-align: center;
    padding-bottom: 0rem;
  }
  .infocard__venue {
    width: 7.5rem;
    padding-bottom: 0rem;
  }
  .infocard__location {
    width: 8.125rem;
    padding-bottom: 0rem;
  }
  .infocard__button {
    width: 11.25rem;
  }
  /* Footer */
  .footer {
    padding: 2.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }
  /* Assign order to make "Bandsite" move before contactcard*/
  .footer :nth-child(1) {
    order: 1;
  }
  .footer :nth-child(2) {
    order: 2;
  }
  .footer :nth-child(3) {
    order: 4;
  }
  .footer :nth-child(4) {
    order: 3;
  }
  .footer :nth-child(5) {
    order: 5;
  }
  .footer__sociallist {
    height: 1.375rem;
    margin-left: 1.875rem;
  }
  .footer__sociallist--item, .footer__sociallist--link, .footer__sociallist--icon {
    width: 1.375rem;
    height: 1.375rem;
  }
  .footer__bandsitelogo {
    margin-left: auto;
  }
  .footer__contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    margin-top: 0rem;
    gap: 2.5rem;
  }
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
  .footer-contact__contactcard {
    width: 12.875rem;
  }
}
/*------Desktop------------------------------------------------------------------*/
@media screen and (min-device-width: 1280px) {
  /* Header */
  .header {
    height: 4.375rem;
  }
  .header__title {
    margin-left: 8%;
  }
  .header__list {
    margin-left: 3.125rem;
    top: 0rem;
  }
  .header__list--item {
    font-size: 1.25rem;
    height: 0.75rem;
    padding: 1.25rem 0rem 2.1875rem 0rem;
  }
  /* First Container */
  .first__container {
    height: 43.75rem;
  }
  .first-container__firstheader {
    position: absolute;
    top: 25%;
    left: 8%;
    z-index: 10;
    font-size: 1.875rem;
    font-weight: 600;
  }
  .first-container__secondheader {
    font-size: 3.75rem;
    line-height: 6.25rem;
    position: absolute;
    top: 35%;
    left: 8%;
    z-index: 10;
    width: 31.25rem;
    line-height: 5rem;
  }
  .first-container__soundcloud {
    width: 31.25rem;
    height: 10.625rem;
    position: absolute;
    top: 38%;
    left: 55%;
    z-index: 10;
  }
  .first-container__headerbackground, .first-container__backgroundimg {
    height: 43.75rem;
  }
  .first-container__backgroundimg {
    -o-object-position: 70% 30%;
       object-position: 70% 30%;
  }
  /* Shows Container */
  .showsinfo__container {
    padding: 2.25rem 7.5rem;
    position: relative;
  }
  .infocard__title--DSK {
    position: absolute;
    top: 3.75rem;
    left: 17%;
    width: 46.875rem;
  }
  .shows-information__card {
    margin-left: 19%;
    width: 46.875rem;
  }
  /* Footer */
  .footer {
    padding: 2.25rem 7.5rem;
  }
  .footer__sociallist {
    height: 1.375rem;
    margin-left: 3.125rem;
    gap: 1.875rem;
  }
  .footer__contact {
    gap: 4.0625rem;
  }
}
/* hidden content based on viewport width */
.hidden {
  display: none;
}/*# sourceMappingURL=shows.css.map */