@use './partials/global' as *;

@media screen and (min-device-width: $mobile_min_viewwidth) {
    body {
        background-color: $primary_black;
        font-family: "Avenir";
        margin: 0.625rem 0rem;
    }

    div, h1, h2, h3, p, img, ul {
        margin: 0rem;
        padding: 0rem;
    }

    iframe {
        border: 0rem;
    }

    /* Font Size */
    .pageheader {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
    }

    .sectionheader {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
    }

    .subheader {
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 600;
    }

    .bodycopy {
        font-size: 0.8125rem;
        line-height: 1.125rem;
        font-weight: 400;
    }

    .footercopy {
        font-size: 0.8125rem;
        line-height: 1.125rem;
        font-weight: 400;
    }

    .labelandbuttons {
        font-size: 0.625rem;
        line-height: 1.25rem;
        font-weight: 700;
    }

    /* Header */
    .header {
        color: $primary_white;
        text-align: center;

        &__title {
            font-weight: 400;
            box-sizing: border-box;
            width: 100%;
            height: 1.25rem;
            margin-bottom: 0.625rem;

            &--link {
                width: 7.5rem;
                height: 1.25rem;
                font-size: 1.5rem;
                box-sizing: border-box;
                color: $primary_white;
                text-decoration: none;
            }
        }

        &__list {
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: space-evenly;
            padding: 0rem;
            
            &--item {
                width: 50vw;
                padding-bottom: 0.3125rem;
            }

            &--link {
                font-size: 0.75rem;
                color: $primary_white;
                text-decoration: none;
            }
        }
    }

    /* First Container */
    .first__container {
        color: $primary_white;
        position: relative;
        width: 100vw;
        height: 80vw;
    }

    .activepage {
        border-bottom: 0.125rem solid $primary_white;
        font-weight: 600;
    }

    .first-container {
        &__firstheader {
            position: absolute;
            top: 12%;
            left: 5%;
            z-index: 10;
        }

        &__secondheader {
            position: absolute;
            top: 25%;
            left: 5%;
            z-index: 10;
            width: 15.625rem;
        }

        &__soundcloud {
            width: 18.75rem;
            height: 5.9375rem;
            position: absolute;
            top: 55%;
            left: 5%;
            z-index: 10;
        }

        &__headerimg {
            height: 100%;
        }

        &__headerbackground {
            position: absolute;
            width: 100vw;
            height: 100%;
            background-color: $primary_black;
            opacity: 50%;
        }

        &__backgroundimg {
            width: 100vw;
            height: 100%;
            object-fit: cover;
            object-position: 0% 10%;
        }
    }

    /* Shows Container */
    .showsinfo {
        &__container {
            background-color: $primary_white;
            padding: $MB_padding_betweencomponents;

        }

        &__title {
            padding-top: $MB_padding_beforeheadline;
            padding-bottom: $MB_padding_afterheadline;
        }
    }

    .shows-information {
        &__card {
            padding: 0.9375rem 0rem;
            border-bottom: 0.0625rem solid $secondary_mercury;
            display: flex;
            flex-direction: column;

            &:hover {
                background-color: $secondary_alabaster;
            }        
        }

        &__greycard {
            background-color: $secondary_mercury;
        }


    }

    .infocard__date, .infocard__venue, .infocard__location {
        padding-bottom: 1.25rem;
    }

    .infocard {
        &__date {
            font-weight: 600;
        }

        &__button {
            border: 0.5rem solid $primary_black;
            background-color: $primary_black;
            color: $primary_white;
            width: 100%;
            height: 3.125rem;
            border-radius: 0.25rem;
            font-size: 1.25rem;

            &:hover {
                border-color: $secondary_darkblack;
                background-color: $secondary_darkblack;
                color: $primary_white;
            }
        }

        &__buttonlink {
            text-decoration: none;
        }
    }

    .infocard-title__date--mobile, .infocard-title__venue--mobile, .infocard-title__location--mobile {
        color: $primary_silver;
        padding: 0.3125rem 0rem;
        font-weight: 600;
        font-size: 0.8125rem;
    }

    .infocard-title__date--DSK, .infocard-title__venue--DSK, .infocard-title__location--DSK {
        display: none;
        color: $primary_silver;
        font-weight: 600;
    }

    /* Footer */
    .footer {
        background-color: $primary_black;
        color: $primary_white;
        padding-left: $MB_padding_betweencomponents;
        padding-right: $MB_padding_betweencomponents;

        &__title {
            padding-top: $MB_padding_beforeheadline;
            padding-bottom: $MB_padding_afterheadline;
        }

        &__sociallist {
            display: flex;
            flex-direction: row;
            list-style: none;
            gap: 1.75rem;
            height: 1.5625rem;

            &--icon {
                width: 1.5625rem;
                height: 1.5625rem;
            }
        }

        &__contact {
            margin-top: 0.625rem;
            margin-bottom: 2.5rem;

            &--info {
                margin: 1.25rem 0rem;
            }

            &--address {
                margin: 1.25rem 0rem;
            }
            
            &--email{
                color: $primary_white;
                text-decoration: none;
            }

        }

        &__bandsitelogo {
            font-weight: 400;
            box-sizing: border-box;
            width: 7.5rem;
            height: 1.25rem;
            margin-bottom: 0.3125rem;

            &--link {
                width: 7.5rem;
                height: 1.25rem;
                font-size: 1.5rem;
                box-sizing: border-box;
                color: $primary_white;
                text-decoration: none;
            }
        }

        &__copyright {
            font-size: 0.625rem;
            line-height: 1.25rem;
            font-weight: normal;
        }
    }

}

/*------TABLET------------------------------------------------------------------*/

@media screen and (min-device-width: $tablet_min_viewwidth) {
    /* Font Size */
    .pageheader {
        font-size: 3.75rem;
        line-height: 4.25rem;
        font-weight: 700;
    }

    .sectionheader {
        font-size: 2.25rem;
        line-height: 2.75rem;
        font-weight: 700;
    }

    .subheader {
        font-size: 0.875rem;
        line-height: 2rem;
        font-weight: 600;
    }

    .bodycopy {
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 400;
    }

    .footercopy {
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 400;
    }

    .labelandbuttons {
        font-size: 0.75rem;
        line-height: 1.25rem;
        font-weight: 700;
    }

    /* Header */
    .header {
        color: $primary_white;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 3.125rem;

        &__title {
            font-weight: normal;
            margin-left: 5%;
            width: 7.5rem;

            &--link {
                box-sizing: border-box;
                max-width: 7.5rem;
                max-height: 1.25rem;
                color: $primary_white;
                text-decoration: none;
            }
        }

        &__list {
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: space-evenly;
            padding: 0rem;
            gap: 3.75rem;
            margin-left: 3.75rem;
            position: relative;
            top: 0.4375rem;
            
            &--item {
                width: auto;
                height: 1.875rem;
            }

            &--link {
                color: $primary_white;
                text-decoration: none;
            }
        }
    }

    /* First Container */
    .first__container {
        height: 60vw;
    }

    .first-container {
        &__firstheader {
            position: absolute;
            top: 12%;
            left: 5%;
            z-index: 10;
            font-size: 1.875rem;
            font-weight: 600;
        }

        &__secondheader {
            position: absolute;
            top: 25%;
            left: 5%;
            z-index: 10;
            width: 37.5rem;
        }

        &__soundcloud {
            width: 25rem;
            height: 7.5rem;
            position: absolute;
            top: 62%;
            left: 5%;
            z-index: 10;
        }

        &__headerbackground, &__backgroundimg {
            height: 100%;

        }

        &__backgroundimg {
            object-position: 0% 34%;
        }
    }

    /* Shows Container */
    .showsinfo__container {
        padding: 2.25rem;
    }

    .infocard-title__date--mobile, .infocard-title__venue--mobile, .infocard-title__location--mobile {
        display: none;
        color: $primary_silver;
        font-weight: 600;
    }

    .infocard__title--DSK {
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        padding-right: 13.75rem;
        margin-top: 0.9375rem;
    }

    .infocard-title__date--DSK, .infocard-title__venue--DSK, .infocard-title__location--DSK {
        display: inline-block;
        color: $primary_silver;
        font-weight: 600;
        font-size: 13px;
    }

    .infocard-title {
        &__date--DSK {
            width: 9.375rem;
        }

        &__venue--DSK {
            width: 7.5rem;
        }

        &__location--DSK {
            width: 8.125rem;
        }
    }

    .shows-information {
        &__card {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2.5rem;
        }
    }

    .infocard {
        &__date {
            width: 9.375rem;
            vertical-align: center;
            padding-bottom: 0rem;
        }

        &__venue {
            width: 7.5rem;
            padding-bottom: 0rem;
        }

        &__location {
            width: 8.125rem;
            padding-bottom: 0rem;
        }

        &__button {
            width: 11.25rem;
        }
    }

    /* Footer */
    .footer {
        padding: 2.25rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
    }

    /* Assign order to make "Bandsite" move before contactcard*/
    .footer :nth-child(1) {order: 1;}
    .footer :nth-child(2) {order: 2;}
    .footer :nth-child(3) {order: 4;}
    .footer :nth-child(4) {order: 3;}
    .footer :nth-child(5) {order: 5;}

    .footer {
        &__sociallist {
            height: 1.375rem;
            margin-left: 1.875rem;
            
            &--item, &--link, &--icon {
                width: 1.375rem;
                height: 1.375rem;
            }
        }

        &__bandsitelogo {
            margin-left: auto;
        }

        &__contact {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 100vw;
            margin-top: 0rem;
            gap: 2.5rem;
        }

        &__copyright {
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-weight: 400;
        }
    }

    .footer-contact__contactcard {
        width: 12.875rem;
    }
}

/*------Desktop------------------------------------------------------------------*/
@media screen and (min-device-width: $desktop_min_viewwidth) {
    /* Header */
    .header {
        height: 4.375rem;

        &__title {
            margin-left: 8%;
        }

        &__list {
            margin-left: 3.125rem;
            top: 0rem; 
            &--item {
                font-size: 1.25rem;
                height: 0.75rem;
                padding: 1.25rem 0rem 2.1875rem 0rem;
            }
        }
    }

    /* First Container */
    .first__container {
        height: 50vw;
    }

    .first-container {
        &__firstheader {
            position: absolute;
            top: 25%;
            left: 8%;
            z-index: 10;
            font-size: 1.875rem;
            font-weight: 600;
        }

        &__secondheader {
            font-size: 3.75rem;
            line-height: 6.25rem;
            position: absolute;
            top: 35%;
            left: 8%;
            z-index: 10;
            width: 31.25rem;
            line-height: 5rem;
        }

        &__soundcloud {
            width: 31.25rem;
            height: 10.625rem;
            position: absolute;
            top: 38%;
            left: 55%;
            z-index: 10;
        }

        &__backgroundimg {
            object-position: 70% 30%;
        }
    }

    /* Shows Container */
    .showsinfo__container {
        padding: 2.25rem 7.5rem;
        position: relative;
    }

    .infocard__title--DSK {
        position: absolute;
        top: 3.75rem;
        left: 17%;
        width: 46.875rem;
    }

    .shows-information__card {
        margin-left: 19%;
        width: 46.875rem;
    }

    /* Footer */
    .footer {
        padding: 2.25rem 7.5rem;

        &__sociallist {
            height: 1.375rem;
            margin-left: 3.125rem;
            gap: 1.875rem;
        }

        &__contact {
            gap: 4.0625rem;
        }
    }
}

/* hidden content based on viewport width */
.hidden {
    display: none;
}