/* <Type Kit> */
/* Typeface*/
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/Alternative_files/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/Alternative_files/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/Alternative_files/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
/* <Colors> */
/* Primary Colors*/
/* Secondary Colors */
/* <Layout Grid> */
/* device width */
/* <Padding> */
/* Desktop and Tablet */
/* Mobile */
@media screen and (min-device-width: 0px) {
  body {
    background-color: #323232;
    font-family: "Avenir";
    margin: 10px 0px;
  }
  div, h1, h2, h3, p, img, ul {
    margin: 0rem;
    padding: 0rem;
  }
  /* Font Size */
  .pageheader {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
  .sectionheader {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
  .subheader {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
  }
  .bodycopy {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }
  .footercopy {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }
  .labelandbuttons {
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
  }
  /* Header */
  .header {
    color: #FFFFFF;
    text-align: center;
  }
  .header__title {
    font-weight: 400;
    box-sizing: border-box;
    width: 120px;
    height: 20px;
    margin-bottom: 10px;
    display: inline-block;
  }
  .header__title--link {
    width: 120px;
    height: 20px;
    font-size: 24px;
    box-sizing: border-box;
    color: #FFFFFF;
    text-decoration: none;
  }
  .header__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    padding: 0px;
  }
  .header__list--item {
    width: 50vw;
    padding-bottom: 5px;
  }
  .header__list--link {
    font-size: 12px;
    color: #FFFFFF;
    text-decoration: none;
  }
  /* First Container */
  .first__container {
    color: #FFFFFF;
    position: relative;
    width: 100vw;
    height: 80vw;
  }
  .activepage {
    border-bottom: 2px solid #FFFFFF;
    font-weight: 600;
  }
  .first-container__firstheader {
    position: absolute;
    top: 12%;
    left: 5%;
    z-index: 10;
  }
  .first-container__secondheader {
    position: absolute;
    top: 25%;
    left: 5%;
    z-index: 10;
    width: 250px;
  }
  .first-container__soundcloud {
    width: 300px;
    height: 95px;
    position: absolute;
    top: 55%;
    left: 5%;
    z-index: 10;
  }
  .first-container__headerimg {
    height: 100%;
  }
  .first-container__headerbackground {
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: #323232;
    opacity: 50%;
  }
  .first-container__backgroundimg {
    width: 100vw;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* Shows Container */
  .showsinfo__container {
    background-color: #FFFFFF;
    padding-left: 16px;
    padding-right: 16px;
  }
  .showsinfo__title {
    padding-top: 24px;
    padding-bottom: 16px;
  }
  .shows-information__card {
    padding: 15px 0px;
    border-bottom: 1px solid #E1E1E1;
  }
  .shows-information__card:has(.infocard__buttonlink:visited) {
    background-color: #E1E1E1;
  }
  .shows-information__card:hover {
    background-color: #FAFAFA;
  }
  .infocard__date, .infocard__venue, .infocard__location, .infocard__button {
    display: block;
  }
  .infocard__date, .infocard__venue, .infocard__location {
    padding-bottom: 20px;
  }
  .infocard__date {
    font-weight: 600;
  }
  .infocard__button {
    background-color: #323232;
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    font-size: 20px;
  }
  .infocard__buttonlink {
    text-decoration: none;
  }
  .infocard-title__date--mobile, .infocard-title__venue--mobile, .infocard-title__location--mobile {
    display: block;
    color: #AFAFAF;
    padding: 5px 0px;
    font-weight: 600;
  }
  .infocard-title__date--DSK, .infocard-title__venue--DSK, .infocard-title__location--DSK {
    display: none;
    color: #AFAFAF;
    font-weight: 600;
  }
  /* Footer */
  .footer {
    background-color: #323232;
    color: #FFFFFF;
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer__title {
    padding-top: 24px;
    padding-bottom: 16px;
  }
  .footer__sociallist {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 28px;
    height: 25px;
  }
  .footer__sociallist--icon {
    width: 25px;
    height: 25px;
  }
  .footer__contact {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .footer__contact--info {
    margin: 20px 0px;
  }
  .footer__contact--address {
    margin: 20px 0px;
  }
  .footer__contact--email {
    color: #FFFFFF;
    text-decoration: none;
  }
  .footer__bandsitelogo {
    font-weight: 400;
    box-sizing: border-box;
    width: 120px;
    height: 20px;
    margin-bottom: 5px;
    display: inline-block;
  }
  .footer__bandsitelogo--link {
    width: 120px;
    height: 20px;
    font-size: 24px;
    box-sizing: border-box;
    color: #FFFFFF;
    text-decoration: none;
  }
  .footer__copyright {
    font-size: 10px;
    line-height: 20px;
    font-weight: normal;
  }
}
/*------TABLET------------------------------------------------------------------*/
@media screen and (min-device-width: 768px) {
  /* Font Size */
  .pageheader {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
  .sectionheader {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
  .subheader {
    font-size: 14px;
    line-height: 32px;
    font-weight: 600;
  }
  .bodycopy {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
  .footercopy {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .labelandbuttons {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
  /* Header */
  .header {
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
  }
  .header__title {
    font-weight: normal;
    margin-left: 30px;
  }
  .header__title--link {
    box-sizing: border-box;
    max-width: 120px;
    max-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
  }
  .header__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    padding: 0px;
    gap: 60px;
    margin-left: 60px;
    position: relative;
    top: 7px;
  }
  .header__list--item {
    width: auto;
    height: 30px;
  }
  .header__list--link {
    color: #FFFFFF;
    text-decoration: none;
  }
  /* First Container */
  .first__container {
    height: 425px;
  }
  .first-container__firstheader {
    position: absolute;
    top: 12%;
    left: 5%;
    z-index: 10;
    font-size: 30px;
    font-weight: 600;
  }
  .first-container__secondheader {
    position: absolute;
    top: 25%;
    left: 5%;
    z-index: 10;
    width: 600px;
  }
  .first-container__soundcloud {
    width: 400px;
    height: 120px;
    position: absolute;
    top: 62%;
    left: 5%;
    z-index: 10;
  }
  .first-container__headerbackground, .first-container__backgroundimg {
    height: 425px;
  }
  /* Shows Container */
  .showsinfo__container {
    padding: 36px;
  }
  .infocard-title__date--mobile, .infocard-title__venue--mobile, .infocard-title__location--mobile {
    display: none;
    color: #AFAFAF;
    font-weight: 600;
  }
  .infocard__title--DSK {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 5px;
    margin-top: 15px;
  }
  .infocard-title__date--DSK, .infocard-title__venue--DSK, .infocard-title__location--DSK {
    display: inline-block;
    color: #AFAFAF;
    font-weight: 600;
  }
  .infocard-title__date--DSK {
    width: 150px;
  }
  .infocard-title__venue--DSK {
    width: 120px;
  }
  .infocard-title__location--DSK {
    width: 130px;
  }
  .shows-information__card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .infocard__date {
    width: 150px;
    vertical-align: center;
    padding-bottom: 0px;
  }
  .infocard__venue {
    width: 120px;
    padding-bottom: 0px;
  }
  .infocard__location {
    width: 130px;
    padding-bottom: 0px;
  }
  .infocard__button {
    width: 180px;
  }
  /* Footer */
  .footer {
    padding: 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }
  /* Assign order to make "Bandsite" move before contactcard*/
  .footer :nth-child(1) {
    order: 1;
  }
  .footer :nth-child(2) {
    order: 2;
  }
  .footer :nth-child(3) {
    order: 4;
  }
  .footer :nth-child(4) {
    order: 3;
  }
  .footer :nth-child(5) {
    order: 5;
  }
  .footer__sociallist {
    height: 22px;
    margin-left: 30px;
  }
  .footer__sociallist--item, .footer__sociallist--link, .footer__sociallist--icon {
    width: 22px;
    height: 22px;
  }
  .footer__bandsitelogo {
    margin-left: auto;
  }
  .footer__contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    margin-top: 0px;
    gap: 40px;
  }
  .footer-contact__contactcard {
    width: 206px;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}
/*------Desktop------------------------------------------------------------------*/
@media screen and (min-device-width: 1280px) {
  /* Header */
  .header {
    height: 70px;
  }
  .header__title {
    margin-left: 120px;
  }
  .header__list {
    margin-left: 50px;
    top: 0px;
  }
  .header__list--item {
    font-size: 20px;
    height: 12px;
    padding: 20px 0px 35px 0px;
  }
  /* First Container */
  .first__container {
    height: 700px;
  }
  .first-container__firstheader {
    position: absolute;
    top: 25%;
    left: 5%;
    z-index: 10;
    font-size: 30px;
    font-weight: 600;
  }
  .first-container__secondheader {
    font-size: 70px;
    line-height: 100px;
    position: absolute;
    top: 35%;
    left: 5%;
    z-index: 10;
    width: 600px;
  }
  .first-container__soundcloud {
    width: 500px;
    height: 170px;
    position: absolute;
    top: 38%;
    left: 55%;
    z-index: 10;
  }
  .first-container__headerbackground, .first-container__backgroundimg {
    height: 700px;
  }
  /* Shows Container */
  .showsinfo__container {
    padding: 36px 120px;
    position: relative;
  }
  .infocard__title--DSK {
    position: absolute;
    top: 60px;
    left: 370px;
  }
  .shows-information__card {
    margin-left: 19%;
    width: 750px;
  }
  /* Footer */
  .footer {
    padding: 36px 120px;
  }
  .footer__sociallist {
    height: 22px;
    margin-left: 50px;
    gap: 30px;
  }
  .footer__contact {
    gap: 65px;
  }
}
/* hidden content based on viewport width */
.hidden {
  display: none;
}/*# sourceMappingURL=shows.css.map */